.b-tabs.b-tabs__tabs
    a(href="#", data-name="foo").b-tabs__tab._name_foo
        | Foo tab
    a(href="#", data-name="bar").b-tabs__tab._name_bar._state_current
        | Bar tab
    a(href="#", data-name="baz").b-tabs__tab._name_baz
        | Baz tab

.b-tabs.b-tabs__panels
    .b-tabs__panel._name_foo
        | Foo panel
    .b-tabs__panel._name_bar._state_current
        | Bar panel
    .b-tabs__panel._name_baz
        | Baz panel
